<div class="editor-row">
  <div class="editor-option">
    <form>
      <h6>Coordinate Field <tip>geoJSON array! Long,Lat NOT Lat,Long</tip></h6>
      <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.field">
    </form>
  </div>
  <div class="editor-option">
    <form>
      <h6>Tooltip Field</h6>
      <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.tooltip">
    </form>
  </div>
  <div class="editor-option"><h6>Max Points</h6>
    <input type="number" class="input-small" ng-model="panel.size">
  </div>
  <div class="editor-option">
    <form>
      <h6>Tile Server URL</h6>
      <input  bs-typeahead="fields.list" type="text" class="input-big" ng-model="panel.tileServerUrl">
    </form>
  </div>
  <div class="editor-option">
    <form>
      <h6>Cluster Radius</h6>
      <input type="text" class="input-small" ng-model="panel.clusterRadius">
    </form>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h3>Visualization Type Section</h3>
    <div class="editor-option">
      
      <h4>Visualization Parameter</h4>
        <input  bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.parameter">
        <label class="big"><input class="radio-pad-small" type="radio" ng-model="panel.viz_type" value="cluster_color">Cluster Color</label>
        <label class="big"><input class="radio-pad-small" type="radio" ng-model="panel.viz_type" value="cluster_size">Cluster size</label>
        <label class="big"><input class="radio-pad-small" type="radio" ng-model="panel.viz_type" value="heatmap">Heatmap</label>
    </div>
    <div class="editor-option margin-left-small" ng-show="panel.viz_type"><h4>Cluster Color Configuration</h4>
      <label class="big"><span class="custom-small">Small</span><input type="text" class="input-small margin-right-left" ng-model="panel.cc.small"> Minimum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.small_range_min"> Maximum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.small_range_max"></label>
      <label class="big"><span class="custom-medium">Medium</span><input type="text" class="input-small margin-right-left" ng-model="panel.cc.medium"> Minimum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.medium_range_min"> Maximum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.medium_range_max"></label>
      <label class="big"><span class="custom-large">Large</span><input type="text" class="input-small margin-right-left" ng-model="panel.cc.large"> Minimum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.large_range_min"> Maximum Value <input type="text" class="input-small margin-right-left" ng-model="panel.cc.large_range_max"></label>
    </div>
    <div class="editor-option" ng-show="panel.viz_type == 'heatmap'"><h4>Heatmap Configuration</h4>
      <label class="big"><span class="custom-radius-padding">Radius</span><input type="text" class="input-small margin-right-left" ng-model="panel.hmap.radius"></label>
      <label class="big"><span class="custom-blur-padding">Blur</span><input type="text" class="input-small margin-right-left" ng-model="panel.hmap.blur"></label>
    </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Ping Section</h5>
    <div class="editor-option">
      <label class="big">Poll for events</label><input type="checkbox" ng-model="panel.poll" ng-checked="panel.poll">
    </div>
    <div class="editor-option" ng-show="panel.poll"><h7>Poll Duration</h7>
      <input type="text" class="input-small" ng-model="panel.poll_duration">
    </div>
  </div>
</div>